In [2]:
import pandas as pd

In [64]:
pokemon = pd.read_csv("../data/Pokemon.csv", index_col=0)
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [7]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 1 to 721
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   Total       800 non-null    int64
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 75.8+ KB

In [8]:
pokemon.isnull().sum()

Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

Приводим бинарные признаки к 1 или 0

In [65]:
mapping = {False : 0,
           True : 1}

pokemon['Legendary'] = pokemon['Legendary'].map(mapping)
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,0
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,0
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,0
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,0
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,1
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,1
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,1
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,1
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,1

Перекодируем категориальные признаки. Для каждого типа сделаем собственный префикс.

In [66]:
tmp = pd.get_dummies(pokemon, prefix=['t1'], columns=['Type 1'])
res = pd.get_dummies(tmp, prefix=['t2'], columns=['Type 2'])
res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 1 to 721
Data columns (total 46 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         800 non-null    object
 1   Total        800 non-null    int64
 2   HP           800 non-null    int64
 3   Attack       800 non-null    int64
 4   Defense      800 non-null    int64
 5   Sp. Atk      800 non-null    int64
 6   Sp. Def      800 non-null    int64
 7   Speed        800 non-null    int64
 8   Generation   800 non-null    int64
 9   Legendary    800 non-null    int64
 10  t1_Bug       800 non-null    uint8
 11  t1_Dark      800 non-null    uint8
 12  t1_Dragon    800 non-null    uint8
 13  t1_Electric  800 non-null    uint8
 14  t1_Fairy     800 non-null    uint8
 15  t1_Fighting  800 non-null    uint8
 16  t1_Fire      800 non-null    uint8
 17  t1_Flying    800 non-null    uint8
 18  t1_Ghost     800 non-null    uint8
 19  t1_Grass     800 non-null    uint8
 20  t1_Ground    800 non-null    uint8
 21  t1_Ice       800 non-null    uint8
 22  t1_Normal    800 non-null    uint8
 23  t1_Poison    800 non-null    uint8
 24  t1_Psychic   800 non-null    uint8
 25  t1_Rock      800 non-null    uint8
 26  t1_Steel     800 non-null    uint8
 27  t1_Water     800 non-null    uint8
 28  t2_Bug       800 non-null    uint8
 29  t2_Dark      800 non-null    uint8
 30  t2_Dragon    800 non-null    uint8
 31  t2_Electric  800 non-null    uint8
 32  t2_Fairy     800 non-null    uint8
 33  t2_Fighting  800 non-null    uint8
 34  t2_Fire      800 non-null    uint8
 35  t2_Flying    800 non-null    uint8
 36  t2_Ghost     800 non-null    uint8
 37  t2_Grass     800 non-null    uint8
 38  t2_Ground    800 non-null    uint8
 39  t2_Ice       800 non-null    uint8
 40  t2_Normal    800 non-null    uint8
 41  t2_Poison    800 non-null    uint8
 42  t2_Psychic   800 non-null    uint8
 43  t2_Rock      800 non-null    uint8
 44  t2_Steel     800 non-null    uint8
 45  t2_Water     800 non-null    uint8
dtypes: int64(9), object(1), uint8(36)
memory usage: 96.9+ KB

In [67]:
res.to_csv('../data/Pokemon_preprocessed.csv')