# Подготовка

## Импорты

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.python.keras import Input
from tensorflow.python.keras.layers import Dense
from tensorflow.python.keras.models import Sequential, load_model
from keras.utils.vis_utils import plot_model

## Данные

Загружаем датасет

In [2]:
pokemon = pd.read_csv("../data/Pokemon_preprocessed.csv", index_col=0)
pokemon.info()
pokemon.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 799
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Total       800 non-null    int64
 2   HP          800 non-null    int64
 3   Attack      800 non-null    int64
 4   Defense     800 non-null    int64
 5   Sp. Atk     800 non-null    int64
 6   Sp. Def     800 non-null    int64
 7   Speed       800 non-null    int64
 8   Generation  800 non-null    int64
 9   Legendary   800 non-null    bool
 10  t_Bug       800 non-null    int64
 11  t_Dark      800 non-null    int64
 12  t_Dragon    800 non-null    int64
 13  t_Electric  800 non-null    int64
 14  t_Fairy     800 non-null    int64
 15  t_Fighting  800 non-null    int64
 16  t_Fire      800 non-null    int64
 17  t_Flying    800 non-null    int64
 18  t_Ghost     800 non-null    int64
 19  t_Grass     800 non-null    int64
 20  t_Ground    800 non-null    int64
 21  t_Ice       800 non-null    int64
 22  t_Normal    800 non-null    int64
 23  t_Poison    800 non-null    int64
 24  t_Psychic   800 non-null    int64
 25  t_Rock      800 non-null    int64
 26  t_Steel     800 non-null    int64
 27  t_Water     800 non-null    int64
dtypes: bool(1), int64(26), object(1)
memory usage: 175.8+ KB

,Name,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,...,t_Ghost,t_Grass,t_Ground,t_Ice,t_Normal,t_Poison,t_Psychic,t_Rock,t_Steel,t_Water
0,Bulbasaur,318,45,49,49,65,65,45,1,False,...,0,1,0,0,0,1,0,0,0,0
1,Ivysaur,405,60,62,63,80,80,60,1,False,...,0,1,0,0,0,1,0,0,0,0
2,Venusaur,525,80,82,83,100,100,80,1,False,...,0,1,0,0,0,1,0,0,0,0
3,VenusaurMega Venusaur,625,80,100,123,122,120,80,1,False,...,0,1,0,0,0,1,0,0,0,0
4,Charmander,309,39,52,43,60,50,65,1,False,...,0,0,0,0,0,0,0,0,0,0

Разбиваем данные на параметры входные и целевые.

In [4]:
X = pokemon.drop(["Legendary","Name"], axis=1).values
y = pokemon.iloc[:, 9].values

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [7]:
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)